<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <title>Bush Studies | Studies</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
	    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
	    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
	    <link rel="manifest" href="/static/images/site.webmanifest">

        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<style>
        .heady {
            width: 50%;
            margin-top: 20%;
            margin: auto;
            padding-top: 100px;
        }

        .heady h1 {
            font-size: 56px;
            text-align: center;
            z-index: -1;
            padding-bottom: 30px;
        }
		</style>
	</head>

	<body>
	    <div class='image'>
            <a href="http://www.bush.edu">
			    <img src="/static/images/logo.png">
		    </a>
        </div>
        <div class='navbar'>
            <nav>
                <ul>
                    <li><form action="{{ url_for('index') }}" method='get'> <button type='submit'>Home</button> </form></li>
                    <li><form action="{{ url_for('studies') }}" method='get'> <button type='submit'>Studies</button> </form></li>
                    <li><form action="{{ url_for('create') }}" method='get'><button>Create</button></form></li>
                    <li><form action="{{ url_for('about') }}" method='get'><button>About</button></form></li>
                    <div class='search'>
                        <li>
                            <form action="{{ url_for('redirector', page='search') }}" method='post'>
                                <input type='text' placeholder='Search...' name='title' autocomplete='off'>
                            </form>
                        </li>
                    </div>
                    <div class='logout'>
                        <li><form action="{{ url_for('login') }}" method='get'><button>Log Out</button></form></li>
                    </div>
                </ul>
            </nav>
        </div>
        <div class='heady'>
            <h1>About Bush Studies</h1>
            <div class='about'>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Bush Studies was created as a senior project by Sivan Cooperman '19.
                He was inspired to create the website after performing a study with
                Math Department Chair Christine Miller, and hopes that it will
                encourage the school to continue to study and listen to the community.
                The platform is also available for, albeit not completely built for,
                teachers or students who wish to make their class work public.
                <br>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                If you encounter any problems while using this website,
                please contact Sivan Cooperman at sivan.cooperman@bush.edu .
                </p>
            </div>
        </div>
	</body>